<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Young View Hotel</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="./images/icons/hotel_star_40px.png" type="image/x-icon">
    <script src="./app.js" defer></script>
</head>
<body class="body2">
    <div class="container dash1">
        <h2>Add Employee</h2>
        <div class="logout1">
            <div class="iden">
                <img src="./images/icons/Database Administrator_128px.png" alt="">
                <p>Ahmed</p>
            </div>
            <a href="./admin_employee_management.html"><img src="./images/icons/back_arrow_64px.png" alt=""></a>
        </div>

        <form action="" class="add">
            <div class="single">
                <label for="">Employee Name</label>
                <input type="text" class="text">
            </div>
            <div class="single">
                <label for="">Employee Name</label>
                <input type="text" class="text">
            </div>
            <div class="single">
                <label for="">Employee Name</label>
                <input type="text" class="text">
            </div>
            <div class="single">
                <label for="">Employee Image</label>
                <input type="file">
            </div>
            <div class="single">
                <label for="">Employee Name</label>
                <input type="text" class="text">
            </div>
            <div class="single">
                <label for="">Employee Name</label>
                <input type="text" class="text">
            </div>
            <div class="single">
                <input type="submit" value="Add" class="added">
            </div>
        </form>
    </div>
    

</body>
</html>