<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Young View Hotel</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="./images/icons/hotel_star_40px.png" type="image/x-icon">
    <script src="./app.js" defer></script>
</head>
<body class="body1">
    <div class="container dash1">
        <h2>Room 1</h2>
        <div class="logout1">
            <div class="iden">
                <img src="./images/icons/people_60px.png" alt="">
                <p>Elisabeth</p>
            </div>
            <a href="./emp_rooms.html"><img src="./images/icons/back_arrow_64px.png" alt=""></a>
        </div>

        <div class="main_body">
            <aside class="aside1">
                <fieldset>
                    <legend>Room 1</legend>
                    <div class="details">
                        <div class="line">
                            <label for="">Room Name ~</label>
                            <span>Room 1</span>
                        </div>
                        <div class="line">
                            <label for="">Room Size ~</label>
                            <span>Big</span>
                        </div>
                        <div class="line">
                            <label for="">Room Type ~</label>
                            <span>Ordinary</span>
                        </div>
                        <div class="line">
                            <label for="">Room Availabilty ~</label>
                            <span class="available">Available</span>
                        </div>
                        <!-- for unavailable -->
                        <!-- <div class="line">
                            <label for="">Room Availabilty ~</label>
                            <span class="unavailable">Available</span>
                        </div> -->

                        <!-- for partial available -->
                        <!-- <div class="line">
                            <label for="">Room Availabilty ~</label>
                            <span class="paravailable">Available</span>
                        </div> -->
                        <div class="line">
                            <label for="">Room Price (per night) ~</label>
                            <span>Ghc 150</span>
                        </div>
                        <div class="line">
                            <label for="">Last booked date ~</label>
                            <span>6th May 2020</span>
                        </div>
                        <div class="line">
                            <label for="">Next booked date ~</label>
                            <span>30th May 2020</span>
                        </div>
                    </div>
            </aside>
            
            <aside class="aside2">
                <fieldset>
                    <legend>Book Room</legend>
                    
                    <form action="" class="details">
                        <div class="one">
                            <label for="">Name</label>
                            <input type="text">
                        </div>
                        <div class="one">
                            <label for="">Guests</label>
                            <input type="number">
                        </div>
                        <div class="one">
                            <label for="">Arival </label>
                            <input type="date">
                        </div>
                        <div class="one">
                            <label for="">Departure </label>
                            <input type="date">
                        </div>
                        <div class="one">
                            <label for="">Phone number </label>
                            <input type="tel">
                        </div>
                        <div class="one">
                            <label for="">id type</label>
                            <select name="" id="">
                                <option value="">Ghana Card</option>
                                <option value="">Driver's License</option>
                                <option value="">Voter's Id</option>
                            </select>
                        </div>
                        <div class="one">
                            <label for="">Id number </label>
                            <input type="text">
                        </div>
                        <div class="one">
                            <label for="">Address </label>
                            <input type="text">
                        </div>
                        <div class="one">
                            <label for="">Price </label>
                            <input type="text">
                        </div>
                        <input type="submit" value="Submit" class="room_sub">
                    </form>
                </fieldset>
            </aside>
        </div>
        
    </div>
    

</body>
</html>