<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Young View Hotel</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="./images/icons/hotel_star_40px.png" type="image/x-icon">
    <script src="./app.js" defer></script>
</head>
<body class="body2">
    <div class="container dash1">
        <h2>Booking Details</h2>
        <div class="logout1">
            <div class="iden">
                <img src="./images/icons/people_60px.png" alt="">
                <p>Elisabeth</p>
            </div>
            <a href="./emp_invoice.html"><img src="./images/icons/back_arrow_64px.png" alt=""></a>
        </div>

        <div class="main_body detailss">
            <aside class="aside1">
                <fieldset>
                    <legend>Booking Details</legend>
                    <div class="details">
                        <div class="line">
                            <label for="">Customer Name ~</label>
                            <span>Dankwah Owusu</span>
                        </div>
                        <div class="line">
                            <label for="">Room Number ~</label>
                            <span>101</span>
                        </div>
                        <div class="line">
                            <label for="">Room Type ~</label>
                            <span>Ordinary</span>
                        </div>
                        <div class="line">
                            <label for="">Customer Number ~</label>
                            <span>0232346289</span>
                        </div>
                        <div class="line">
                            <label for="">ID Number ~</label>
                            <span class="available">291823782827</span>
                        </div>
                        <div class="line">
                            <label for="">Amount Paid ~</label>
                            <span>Ghc 150</span>
                        </div>
                        <div class="line">
                            <label for="">Arrival date ~</label>
                            <span>6th May 2020</span>
                        </div>
                        <div class="line">
                            <label for="">Departure date ~</label>
                            <span>30th May 2020</span>
                        </div>
                    </div>
            </aside>
            
            
        </div>
        
    </div>
    

</body>
</html>