{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Young View Hotel</title>
    <link rel="stylesheet" href={% static "style.css" %}>
    <link rel="shortcut icon" href={% static "images/icons/hotel_star_40px.png" %} type="image/x-icon">
</head>
<body class="body3">
    <div class="container1">
       <div class="top">
        <a href=""><img src={% static "images/icons/back_arrow_64px.png" %} alt=""></a>
        <h1>Login</h1>
       </div>

        <form method="post">
            {% csrf_token %}
            {% for message in messages %}
                <div class="error-txt">{{ message }}</div>
            {% endfor %}
            <div class="one_people">
                <label>Username</label>
                <div class="input">
                    <img src={% static "./images/icons/male_user_30px.png" %} alt="">
                    <input type="text" required !important name="username">
                </div>
            </div>
            <br>
            <div class="one_people">
                <label>Password</label>
                <div class="input">
                    <img src={% static "./images/icons/secure_24px.png" %} alt="">
                    <input type="text" required name="password">
                </div>
            </div>
            <input class="login" type="submit" value="Login">
        </form>
        <a href="emp_otp" class="first">This is my first time</a>
    </div>
</body>
</html>