{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Young View Hotel</title>
    <link rel="stylesheet" href={% static "style.css" %}>
    <link rel="shortcut icon" href={% static "images/icons/hotel_star_40px.png" %} type="image/x-icon">
    
</head>
<body class="body1">
    <div class="container dash1">
        <h2>{{room.name}}</h2>
        <div class="logout1">
            <div class="iden">
                <img src={% static  "./images/icons/people_60px.png" %} alt="">
                {% if user.is_authenticated %}
                <p>{{user.username}}</p>
                {% endif %}
            </div>
            <a href="../emp_rooms"><img src={% static "./images/icons/back_arrow_64px.png" %} alt=""></a>
        </div>
        {% for message in messages %}
            <div class="error-txt">{{ message }}</div>
        {% endfor %}
        <div class="main_body">
            <aside class="aside1">
                <fieldset>
                    <legend>Room detail</legend>
                    <div class="details">
                        <div class="line">
                            <label for="">Room Name ~</label>
                            <span>{{room.name}}</span>
                        </div>
                        <div class="line">
                            <label for="">Room Capacity ~</label>
                            <span>{{room.capacity}}</span>
                        </div>
                        <div class="line">
                            <label for="">Room Type ~</label>
                            <span>{{room.grade}}</span>
                        </div>
                        {% if room.availability is True %}
                        <div class="line">
                            <label for="">Room Availabilty ~</label>
                            <span class="available">Available</span>
                        </div>
                        {% else %}
                        <div class="line">
                            <label for="">Room Availabilty ~</label>
                            <span class="unavailable">Unavailable</span>
                        </div>
                        {% endif %}

                        <!-- for partial available -->
                        <!-- <div class="line">
                            <label for="">Room Availabilty ~</label>
                            <span class="paravailable">Available</span>
                        </div> -->
                        <div class="line">
                            <label for="">Room Price (per night) ~</label>
                            <span>Ghc {{room.price}}</span>
                        </div>
                        <!-- <div class="line">
                            <label for="">Last booked date ~</label>
                            <span>6th May 2020</span>
                        </div> -->
                        <div class="line">
                            <label for="">Next booked date ~</label>
                            <span>{{room.next_booked_date}}</span>
                        </div>
                    </div>
            </aside>
            
            <aside class="aside2">
                <fieldset>
                    <legend>Book Room</legend>
                    
                    <form method="post" class="details">
                        {% csrf_token %}
                        <div class="one">
                            <label for="">Name</label>
                            <input type="text" name="gname">
                            <input type="text" hidden value="{{room.name}}" name="rname">
                        </div>
                        <div class="one">
                            <label for="">Guests</label>
                            <input type="number" name="guest_no">
                        </div>
                        <div class="one">
                            <label for="">Arrival </label>
                            <input type="date" name="adate">
                        </div>
                        <div class="one">
                            <label for="">Departure </label>
                            <input type="date" name="ddate">
                        </div>
                        <div class="one">
                            <label for="">Phone number </label>
                            <input type="tel" name="pnum">
                        </div>
                        <div class="one">
                            <label for="">id type</label>
                            <select name="cards" id="">
                                <option value="Ghana Card" >Ghana Card</option>
                                <option value="Driver's License">Driver's License</option>
                                <option value="Voter's Id">Voter's Id</option>
                            </select>
                        </div>
                        <div class="one">
                            <label for="">Id number </label>
                            <input type="text" name="idnum">
                        </div>
                        <div class="one">
                            <label for="">Amount Paid</label>
                            <input type="text" name="paid">
                        </div>
                        <div class="one">
                            <label for="">Price </label>
                            <input type="text" name="price">
                        </div>
                        <input type="submit" value="Submit" class="room_sub">
                    </form>
                </fieldset>
            </aside>
        </div>
        
    </div>
    
    <script src="./app.js"></script>

</body>
</html>