{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={% static "./qr_css.css" %}>
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>Booking Details</h1>
        </header>
        <div class="form">
            <input type="text" value="1" hidden>
            <div class="details">
                <p>Name: </p> 
                <p>{{name.guest_name}}</p>
            </div>
            <div class="details">
                <p>Arrival Date: </p> 
                <p>{{name.arrival}}</p>
            </div>
            <div class="details">
                <p>Departure Date: </p> 
                <p>{{name.departure}}</p>
            </div>
            <div class="details">
                <p>Guests: </p> 
                <p>{{name.no_of_guests}}</p>
            </div>
            <div class="details">
                <p>Price: </p> 
                <p>{{name.price}}</p>
            </div>
            <div class="details">
                <p>Tel No: </p> 
                <p>{{name.phone_number}}</p>
            </div>
            
            <button>Generate Receipt</button>
        </div>
        <div class="qr-code">
            <img src="" alt="">
        </div>
        <a class="save" download href="">Save Screenshot</a>

    </div>


    <script src={% static "./qr_script.js" %}></script>
</body>
</html>