{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Young View</title>
    <link rel="stylesheet" href={% static "./login_style.css" %}>
    <link rel = "icon" href ={% static "images/logo.png" %} type = "image/png">
</head>
<body>
    <div class="box">
        <form method="post" class="form">
            {% csrf_token %}
            <h2>Sign Up</h2>
            
            {% for message in messages %}
            <div class="error-txt">{{ message }}</div>
            {% endfor %}
            <div class="inputBox">
                <input type="text" required="required" name="fname">
                <span>First Name</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="text" required="required" name="lname">
                <span>Last Name</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="email" required="required" name="email">
                <span>Email</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required" name="pswd">
                <span>Password</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required" name="pswd2">
                <span>Confirm Password</span>
                <i></i>
            </div>
            <div class="links">
                <a href="">Forgot Password</a>
                <a href="./login">Sign in</a>
            </div>
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>